# Banco de dados local
voluntarios.db

# migração do SQLite para o PostgreSQL
migracao.py

# Arquivos temporários do Python
__pycache__/
*.py[cod]

# Configurações locais do VS Code ou outros editores
.vscode/
*.swp

# Arquivos de sistema
.DS_Store
Thumbs.db
